/* 
amarelo #e6b91e
cinza do header #252525
cinza do body #292929
cinza da linha #2a2a2a
azul #1f6b82
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


body{
    position: relative;
    background-color: rgb(236, 236, 236);
    animation-duration: 0.5s;
    animation-name: fadein;
}

.menu{
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100vh;
    
}

.logo{
    font-size: 25px;
    margin-top: 20px;
    color: #e6b91e ;
}

.user{
    background-color: #e6b91e;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    margin-top: 30px;
}

.meuUl{
    list-style: none;
    margin-top: 30px;
}

.menuItem{
    padding: 5px;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #a5a4a4;
}
a:hover{
    color: #e6b91e;
    transition: 800ms;
}

/* status dash */

.dashStatus{
    margin: 30px 0 30px 0;
    display: flex;
}
.status{
    margin: auto;
    width: 280px;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 6px 5px -1px rgba(0, 0, 0, 0.11);
}

.title-dash-status{
    margin-top: 20px;
    color: #29292985;
}

.totais-dash{
    font-size: 30px;
    margin-top: 20px;
    color: #292929;

}

.dash{
    display: flex;
}

/* LISTAGEM DE CARROS */

.containerTable{
    background-color: #c9c8c817;
    width: 100%;
    text-align: center;
}

.carroEmEstoque{
    width: 90%;
    background-color: #fff;
    padding: 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    box-shadow: 4px 6px 5px -1px rgba(0, 0, 0, 0.103);
    animation-duration: 0.5s;
    animation-name: fadeout;
}
.carroEmEstoque > P {
    width: 100px;
    color: #a5a4a4;
    font-size: 13px;
}


button{
    width: 80px;
    height: 30px;
    background-color: #e6b91e;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}
button:focus{
    outline: 0;;
}

.btnAlugado{
    background-color: red;
}

.backAlugado{
    background-color: #292929;
    color:  #ffffff;
}
.backSumir{
    color: #fff;
    transition: 0.4s;
}


.formCadastroCarros{
    position: absolute;
    top: 0;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    background-color: #29292985;
}

#formCarro{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    height: 250px;
    width: 245px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.29);
}

.inp{
    background-color: #fff;
    border: 1px solid #29292985;
    width: 220px;
    height: 15px;
    border-radius: 3px;
    color: #000;
    margin-top: 20px;
    padding: 10px;
}

.btn_submit{
    width: 240px;
    height: 40px;
    background-color: #e6b91e;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btnFecharModal{
    position: relative;
    top: -300px;
    left: 770px;
    border-radius: 100px;
    width: 30px;
    background-color: #e6b91e;
    color: #29292985;
    font-size: 15px;
    font-weight: 800;
}

@keyframes fadeout {
    from {
      opacity: 1;
      background-color: #e6b91e;
    }
  
    to {
      opacity: 0;
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.fecharModal{
    display: none;
    animation-duration: 0.5s;
    animation-name: fadeout;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}


.mostrarModal{
    display: inline;
    animation-duration: 0.5s;
    animation-name: fadein;
}


/* LOGIN */
.contaier-login{
    background-color: #292929;
    height: 100vh;
    position: absolute;
    width: 100%;
}

.logo-login{
    text-align: center;
    color: #292929;
    font-size: 20px;
}

#login{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 100px;
}
.login-inp{
    margin: auto;
    
}

.back-login{
    height: 100vh;
    background-color: #292929;
}